*{box-sizing: border-box;
margin: 0;
}
/* html{font-size: 41.68%;} */
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 25% 40% 25% 10%;
    grid-template-rows: 38% 3% 7% 52%;
    gap: 10px;
}

.header{
    grid-row: 1/-1;
    background: rgba(2, 2, 77, 0.973);
    padding: 15px;
    color: white;
   }
.header .titulo{
    display: flex;
    padding: 15px;
}
h4{
    padding: 15px 0px;
}
.header .video{
 background: linear-gradient(to right,#ff0000c4, rgb(207, 117, 144));
 -webkit-background-clip: text;
 color: transparent;
}

.header ol{
    padding-left: 20px;
    list-style-position: outside;
}
 li{
    padding-bottom: 10px;
}
.amigos{
    list-style-type: none;
    align-items: center;
}
.amigos li{
    display: flex;
    margin-left: -40px;
    align-items: center;

}
.amigos img{
    width: 40px;
    border-radius: 20px;

}
.vid{
    display: flex;
    background: black;
    grid-column: 2/-1;
    justify-content: center;
}

.vid img{
    width: 40px;
    position: absolute;
    order: 1;
}
.vid .after{
    top: 5px;
    right: 900px;
}
.vid .play{
    top: 150px;
}
.main{
     grid-column: 2/-1;
}
.main h4{
    padding: 0;
}
.main p{
    color: #424242;
}
.information{
  
    grid-column: 2/5;
    display: flex;   
    padding: 5px;
    border:none;
    border-bottom: 1px solid grey;
}
.information .boton{
    margin-top: auto;
    margin-bottom: auto;
   
}
.information .boton img{
    width: 35px;

   }
.information .boton.cero{
    background: linear-gradient(to right, red, pink);
    color: white;
    border: 1px solid #ff7c7c;
    width: 150px;
}
.information .boton.uno{
    margin:10px;
    text-align: center;
    margin-right: 20px;
    margin-left: 50px;
}
.information .boton.dos{
    margin:10px;
    text-align: center;
    margin-top: -3px;
    margin-right: 100px;
    margin-left: 20px;
}
.information .boton.tres{
    margin-right:10px;
    margin-left:10px;
    width: 100px;
}
.information .boton.tres.elec{
    background: #8d398d;
    color: white;
    border: 1px solid #8d398d;
}
.information .boton.tres.rock{
    background: turquoise;
    color: white;
    border: none;
}
.information .boton.tres.oche{
    background: red;
    color: white;
    border: none;
}
.information .boton.tres.relax{
    background: #a80873;
    color: white;
    border: none;
}


.information button{
    height: 30px;
    border-radius: 10px; 
    margin-top: auto;
    margin-bottom: auto;
    }

.comentarios .lista img{
        width: 40px;
        border-radius: 20px;
}
.comentarios .nuevo{
    background:  #f3f3f3;
    border-radius: 5px;
    border-bottom: 1px solid rgb(216, 216, 216);
    border-left: 1px solid rgb(216, 216, 216);
    display: flex;
    margin-bottom: 10px;
}
.comentarios .nuevo img{
    width: 35px;
    border-radius: 20px;
}
.comentarios .nuevo input{
    border: none;
    background: none;
    width: 100%;
}
.lista{
    list-style-type: none;
    align-items: center;
}
.lista li{
    display: flex;
    margin-left: -40px;
    align-items: center;
}  

.sugerencias img{
    width: 300px;
}